@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

$red: rgb(255, 37, 142);
$blue: rgb(44, 167, 255);
$dark-blue: rgb(44, 119, 255);
$orange: rgb(255, 169, 20);
$dark-orange: rgb(234, 154, 15);
$light-orange: rgb(255, 249, 238);

$breakpoint-tablet: 552px;
$breakpoint-desktop: 900px;

@mixin media-tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
