@import "../../styles/shared.scss";

.resetBtn {
  display: block;
  padding: 0.5rem 1rem;
  width: 200px;

  font-size: 1.6rem;
  border-radius: 0.5rem;

  border: none;
  color: white;
  background: $orange;
  transition: 0.2s background;

  cursor: pointer;

  @include media-tablet {
    padding: 0.5rem 1rem;
    width: 300px;

    font-size: 2rem;
    border-radius: 0.5rem;
  }

  @include media-desktop {
    width: 250px;
  }

  &:hover {
    opacity: 0.8;
  }
}
