@import "../../styles/shared.scss";

.app {
  position: relative;

  .resultMessage {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    font-size: 2rem;
  }

  .XWon {
    color: $red;
  }

  .OWon {
    color: $blue;
  }
}
