@import "../../styles/shared.scss";

.app {
  position: relative;
  padding: 75px 0 0;

  .resultMessage {
    display: flex;
    width: 320px;
    margin: 30px auto;
    text-align: center;

    height: 38.5px;
    font-size: 2rem;

    .message {
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        position: absolute;
        right: 0;
      }
    }
  }

  .XWon {
    color: $red;
  }

  .OWon {
    color: $blue;
  }

  .fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
  }
}
