@import "../../styles/shared.scss";

.scoreBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 14.5rem;
  margin: 0 auto 3rem;
  border-radius: 0.5rem;

  font-size: 1.1rem;
  font-weight: bold;

  opacity: 0;
  background-color: white;
  transform: translateY(50%);
  box-shadow: 0px 0px 8px #888888;

  @include media-tablet {
    width: 18rem;
    font-size: 1.3rem;
    margin: 0 auto 3rem;
    border-radius: 0.5rem;
  }

  @include media-desktop {
    width: 20rem;
    font-size: 1.5rem;
    margin: 0 auto 3rem;
    border-radius: 0.5rem;
  }

  .score {
    width: 100%;
    padding: 0.8rem 0rem;

    text-align: center;

    opacity: 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    transform: translateY(20%);
    transition: 0.2s border-bottom;

    @include media-tablet {
      padding: 1rem 0rem;
    }
  }

  .xScore {
    color: $red;
    border-bottom: 5px solid $red;
    border-right: 1px solid #d3d3d3;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }

  .oScore {
    color: $blue;
    border-bottom: 5px solid $blue;
    border-left: 1px solid #d3d3d3;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
  }

  .ties {
    color: $orange;
    border-bottom: 5px solid $orange;
  }

  .inactive {
    border-bottom: 5px solid transparent;
  }
}
